.container__contatos{
    background-color: var(--rosa-claro);
    padding: 5em 2em 5em 2em;
}
.contatos__conteudo{
    display: flex;
    gap: 2em;
    align-items: first baseline;
}
.contatos__descricao{
    display: flex;
    flex-direction: column;
}
.contatos__logo-titulo{
    display: flex;
    align-items: end;
}
.contatos__lista{
    display: none;
    gap: 1em;
    padding-left: .5rem;
    border-left: 1px solid var(--preto);
}
.contatos__contatar{
    display: flex;
    flex-direction: column;
}
.contatos__item{
    display: flex;
}
.contatos__titulo{
    font-size: 26px;
    font-weight: 700
    color var(--preto);
}
.contatos__titulo-destaque{
    color: var(--rosa-dark);
}
.contatos__texto{
    font-size: 12px;
    font-weight: 300;
    color: var(--preto);
    display: none;
}
.contatos__link{
    text-decoration: none;
    color: var(--preto);
}
.contatos__link:hover{
    color: var(--rosa-dark);
}
.contatos__lista__titulo{
    font-size: 26px;
    font-weight: 700
    color var(--preto);
}

@media (min-width: 1220px) {
    .contatos__lista{
        display: flex;
        flex-direction: column;
        text-wrap: nowrap;
        gap: 1rem; 
    }
    .contatos__links{
        display: flex;
        gap: 7rem;
    }
}