.container__descontos{
    display: flex;
    margin: 5rem 0 5rem 0;
}
.descontos__caixa{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    background-color: var(--rosa-claro);
    background-image: url(//src/img/Logos/Imagem_comida.jpeg);    
    font-size: 16px;
    margin: 0 2rem 0 2rem;
    padding: .5rem 6rem .5rem .5rem;
}
.descontos__titulo{
    font-size: 24px;
    font-weight: 400;
}
.descontos__titulo-destaque{
    color: var(--rosa-dark);
}

.descontos__descricao{
    padding: 1.5rem 0 1.5rem 0;
}
.descontos__botao{
    background-color: var(--rosa-main);
    text-decoration: none;
    padding: .1rem 1rem .1rem 1rem;
    color: var(--preto);
    border-radius: 6px;
}
.descontos__botao:hover{
    background-color: var(--rosa-dark);
    color: var(--branco-bg);
}

@media (min-width: 1220px) {
    .container__descontos{
        justify-content: center;
    }
    .descontos__caixa{
        padding: 3rem 5rem 3rem 1rem;
    }
    .descontos__descricao{
        padding: 2rem 0 2rem 0;
    }
}