.container__explorar{
    display: flex;
    background-color: var(--rosa-main);
    margin: 2em 0 2em 0;
    padding: 2em;
}
.explorar__descricao{
    display: flex;
    flex-direction: column;
}
.explorar__titulo{
    font-size: 32px;
    font-weight: 700;
}
.explorar__titulo-destaque{
    color: var(--rosa-dark);
}
.explorar__texto{
    font-size: 12px;
    padding: 2em 0 2em 0;
}
.explorar__botao{
    color: var(--branco-bg);
    background-color: var(--rosa-dark);
    margin: auto;
    padding: .7em;
    text-decoration: none;
    border: 1px solid var(--rosa-dark);
}
.explorar__botao:hover{
    color: var(--preto);
    background-color: var(--rosa-claro);

}

@media (min-width: 1220px){
    .container__explorar{
        padding: 2em 20em 2em 20em;
    }
}