.container__populares{
    border-bottom: 2px solid var(--rosa-main);
}
.populares__conteudo{
    margin: 5em 2em 5em 2em;
}
.populares__titulo{
    color: var(--rosa-dark);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--rosa-dark);
}
.populares__item{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    padding: 1em;
    border: 1px solid var(--rosa-main);
    border-radius: 8px;
}
.populares__compra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populares__item__titulo{
    font-size: 16px;
    font-weight: 400;
}
.populares__carrinho{
    color: var(--preto);
    background-color: var(--rosa-main);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    margin-right: 1rem;
    border: 1px solid var(--rosa-dark);
    border-radius: 6px;
}
.populares__imagem{
    margin: auto;
}
.lista__populares{
    width: auto;
    display: flex;
    gap: 3em;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 1rem;
}
.populares__preço{
    width: auto;
    text-wrap: nowrap;
}
.populares__carrinho:hover{
    color: var(--branco-bg);
    background-color: var(--rosa-dark);
}

@media (min-width: 1220px){
    .lista__populares{
        overflow: hidden;
    }
}